<a href="https://colab.research.google.com/github/Ritikafiske/CodeAlphaTask-/blob/main/Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import precision_score,recall_score,f1_score,roc_auc_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
file_path = '/csm.zip'
np.random.seed(42)
df = pd.read_csv('/content/data.csv')
print(df)

       Age  Gender    Education  Income   Debt  Credit_Score  Loan_Amount  \
0       56  Female       Master  149406  34089           581        49200
1       69  Female  High School   78896   8626           648        20147
2       46  Female       Master  119339  46281           329        41307
3       32    Male  High School  131067  29403           816        19019
4       60    Male          PhD   38001  30032           673        16317
...    ...     ...          ...     ...    ...           ...          ...
11995   69    Male     Bachelor  124894  46777           364        43499
11996   20    Male  High School  137088  49119           758        44320
11997   66    Male  High School   26768   2823           523        37458
11998   61  Female          PhD   79214  36508           775        31916
11999   49    Male  High School   38972  35556           625        42760

       Loan_Term  Num_Credit_Cards Payment_History Employment_Status  \
0             60                 4             Bad        Unemployed
1             24                 7            Good          Employed
2             12                 8             Bad        Unemployed
3             60                 8             Bad          Employed
4             36                 4         Average          Employed
...          ...               ...             ...               ...
11995         12                 4             Bad     Self-Employed
11996         24                 7         Average        Unemployed
11997         48                 6             Bad          Employed
11998         24                 7         Average          Employed
11999         48                 7             Bad        Unemployed

      Residence_Type Marital_Status  Creditworthiness
0             Rented         Single                 1
1          Mortgaged        Married                 1
2              Owned         Single                 1
3              Owned         Single                 1
4             Rented        Married                 0
...              ...            ...               ...
11995          Owned         Single                 0
11996         Rented         Single                 1
11997          Owned        Married                 1
11998      Mortgaged       Divorced                 1
11999         Rented       Divorced                 0

[12000 rows x 14 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Age                12000 non-null  int64
 1   Gender             12000 non-null  object
 2   Education          12000 non-null  object
 3   Income             12000 non-null  int64
 4   Debt               12000 non-null  int64
 5   Credit_Score       12000 non-null  int64
 6   Loan_Amount        12000 non-null  int64
 7   Loan_Term          12000 non-null  int64
 8   Num_Credit_Cards   12000 non-null  int64
 9   Payment_History    12000 non-null  object
 10  Employment_Status  12000 non-null  object
 11  Residence_Type     12000 non-null  object
 12  Marital_Status     12000 non-null  object
 13  Creditworthiness   12000 non-null  int64
dtypes: int64(8), object(6)
memory usage: 1.3+ MB

In [ ]:
x=df.drop(['Gender','Education','Creditworthiness'], axis=1)
y=df['Creditworthiness']

x = pd.get_dummies(x, drop_first=True)

print("Data types after one-hot encoding:")
print(x.dtypes[x.dtypes == 'object'])

Data types after one-hot encoding:
Series([], dtype: object)

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)
models = {'Logistic Regression':LogisticRegression(),
          'Decision Tree': DecisionTreeClassifier(),
          'Random Forest': RandomForestClassifier()
          }

for name, model in models.items():
  model.fit(x_train,y_train)
  y_pred = model.predict(x_test)
  y_proba = model.pred_proba(x_test)[:,1] if hasattr(model,"predicted_proba") else None
  print(f"{name}:")
  print('Precision:',precision_score(y_test,y_pred))
  print('Recall:',recall_score(y_test,y_pred))
  if y_proba is not None:
    print('ROC AUC:',roc_auc_score(y_test,y_proba))
  print('-'*30)

/usr/local/lib/python3.12/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Logistic Regression:
Precision: 0.7016666666666667
Recall: 1.0
------------------------------
Decision Tree:
Precision: 0.7057020232985898
Recall: 0.6834916864608076
------------------------------
Random Forest:
Precision: 0.7003792667509482
Recall: 0.9869358669833729
------------------------------